node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.pnp
.pnp.js
.env
.env.*
.git
.gitignore
.vercel
coverage
build
dist
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
*.pem
.DS_Store
package-lock.json
src/generated/prisma
public/uploads/*
!public/uploads/.gitkeep
