version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: srinakarin_api
    restart: unless-stopped
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "3001:3001"
    volumes:
      - ./public/uploads:/app/public/uploads
